# Tiled source files
./include/*~
./src/*~
test/src/*~

# Doxygen files
doc/html
doc/latex
doc/.zcache

# CMake builds
build/*

# CMake test builds
tests/build*

# tutorial obj and bin
tutorial/wiki/build/*
tutorial/video/build/*
