# Tiled source files
./src/*~
test/src/*~

# Doxygen files
doc/html
doc/latex
doc/.zcache

# CMake builds
release*
debug*

# CMake test builds
tests/build*
tests/release*
tests/debug*
tests/bin

# tutorial obj and bin
tutorial/obj/*
tutorial/bin/*
